.flex-container{
            display: flex;
             justify-content: center;
             height: 50px;

        }
.flex-item{
    font-size:25px;
    width: 100px;
    height: 100px;
    margin: 10px;
    
}
a:link {  text-decoration: none;}
a:visited {  text-decoration: none;}